In [31]:
import pandas as pd
df = pd.read_csv('resource_nodes_log.txt', delimiter='|', names=['NodeName', 'ResourceClass', 'ResourceForm', 'ResourceAmount'])
unique_forms = df['ResourceForm'].unique()
unique_classes = df['ResourceClass'].unique()
df

,NodeName,ResourceClass,ResourceForm,ResourceAmount
0,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
1,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_SAM_C,Solid,Infinite
2,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_SAM_C,Solid,Infinite
3,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_SAM_C,Solid,Infinite
4,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_Stone_C,Solid,Infinite
...,...,...,...,...
2388,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2389,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2390,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2391,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2392,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite

In [22]:
nan_or_unknown = df[df.isnull().any(axis=1) | df.apply(lambda row: row.str.contains('Unknown').any(), axis=1)]
nan_or_unknown

,NodeName,ResourceClass,ResourceForm,ResourceAmount
459,[2024.11.05-16.47.31:573][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
460,[2024.11.05-16.47.31:573][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
461,[2024.11.05-16.47.31:573][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
462,[2024.11.05-16.47.31:573][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
463,[2024.11.05-16.47.31:573][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
...,...,...,...,...
1772,[2024.11.05-16.47.31:583][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
1773,[2024.11.05-16.47.31:583][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
1774,[2024.11.05-16.47.31:583][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
1775,[2024.11.05-16.47.31:583][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite
1776,[2024.11.05-16.47.31:583][238][2024-11-05 17:4...,NaN,Unknown (0),Infinite

In [23]:
print("Unique Resource Forms:", unique_forms)

Unique Resource Forms: ['Liquid' 'Solid' 'Unknown (0)' 'Gas' 'Heat']

In [24]:
print("Unique Resource Classes:", unique_classes)

Unique Resource Classes: ['Desc_LiquidOil_C' 'Desc_SAM_C' 'Desc_Stone_C' 'Desc_OreIron_C'
 'Desc_OreCopper_C' 'Desc_OreGold_C' 'Desc_Coal_C' 'Desc_RawQuartz_C'
 'Desc_Sulfur_C' 'Desc_OreBauxite_C' 'Desc_OreUranium_C' nan
 'Desc_NitrogenGas_C' 'Desc_Water_C' 'Desc_Geyser_C'
 'Desc_RP_WaterDamNode_C' 'Desc_WaterTurbineNode_C'
 'Desc_FF_Dirt_Fertilized_C' 'Desc_FF_Dirt_C' 'Desc_FF_Dirt_Wet_C'
 'Desc_RP_Thorium_C' 'Desc_RP_Deanium_C']

In [30]:
liquid_nodes = df[df['ResourceForm'] == 'Liquid'].drop_duplicates()
liquid_nodes

,NodeName,ResourceClass,ResourceForm,ResourceAmount
0,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
61,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
62,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
64,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
65,[2024.11.05-16.47.31:572][238][2024-11-05 17:4...,Desc_LiquidOil_C,Liquid,Infinite
...,...,...,...,...
2388,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2389,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2390,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2391,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite
2392,[2024.11.05-16.47.31:593][238][2024-11-05 17:4...,Desc_RP_Deanium_C,Liquid,Infinite

In [26]:
print("Unique Resource Classes Categorized by Form:\n")
df_grouped = df.groupby('ResourceForm')
for name, group in df_grouped:
    print(f"\n{name} Resources:")
    unique_group = group[['ResourceClass']].drop_duplicates()
    display(unique_group)

Unique Resource Classes Categorized by Form:


Gas Resources:

           ResourceClass
1777  Desc_NitrogenGas_C

Heat Resources:

      ResourceClass
1895  Desc_Geyser_C

Liquid Resources:

          ResourceClass
0      Desc_LiquidOil_C
1778       Desc_Water_C
2370  Desc_RP_Deanium_C

Solid Resources:

                  ResourceClass
1                    Desc_SAM_C
4                  Desc_Stone_C
7                Desc_OreIron_C
14             Desc_OreCopper_C
23               Desc_OreGold_C
25                  Desc_Coal_C
41             Desc_RawQuartz_C
84                Desc_Sulfur_C
224           Desc_OreBauxite_C
230           Desc_OreUranium_C
1926     Desc_RP_WaterDamNode_C
1977    Desc_WaterTurbineNode_C
2208  Desc_FF_Dirt_Fertilized_C
2209             Desc_FF_Dirt_C
2242         Desc_FF_Dirt_Wet_C
2324          Desc_RP_Thorium_C

Unknown (0) Resources:

    ResourceClass
459           NaN